For numerical alone
1).sum()
2).mean()
3).stdev()

In [ ]:
# Write num file

In [74]:
%%writefile num.txt
#Customer State    Age         Amount
100       NY       13          100.00
700       TX       20          450.00
203       CA       21          200.00
202       CA       31          500.00
101       NY       70          750.00
202       TX       45          200.00

Writing num.txt

In [ ]:
# Importing SparkContext

In [1]:
from pyspark import SparkContext

In [2]:
sc=SparkContext()

In [51]:
rdd=sc.textFile('services1.txt') # Convert text file to RDD's

In [52]:
rdd.collect()

['#Customer State    Age         Amount',
 '100       NY       13          100.00',
 '700       TX       20          450.00',
 '203       CA       21          200.00',
 '202       CA       31          500.00',
 '101       NY       70          750.00',
 '202       TX       45          200.00']

In [53]:
hash_removal=rdd.map(lambda line: line[1:] if line[0]=='#' else line) # Hash removal from header

In [54]:
split=hash_removal.map(lambda line: line.split()) # Splitting the data on spaces

In [55]:
split.collect()

[['Customer', 'State', 'Age', 'Amount'],
 ['100', 'NY', '13', '100.00'],
 ['700', 'TX', '20', '450.00'],
 ['203', 'CA', '21', '200.00'],
 ['202', 'CA', '31', '500.00'],
 ['101', 'NY', '70', '750.00'],
 ['202', 'TX', '45', '200.00']]

In [56]:
selected_data = split.map(lambda lst: (lst[1], lst[2], lst[3])) # Only collect the needed columns

In [63]:
selected_data.collect()

[('State', 'Age', 'Amount'),
 ('NY', '13', '100.00'),
 ('TX', '20', '450.00'),
 ('CA', '21', '200.00'),
 ('CA', '31', '500.00'),
 ('NY', '70', '750.00'),
 ('TX', '45', '200.00')]

In [64]:
data_without_header = selected_data.filter(lambda line: not line[0]=='State') # remove the header

In [46]:
selected_data.collect()

[('State', 'Age', 'Amount'),
 ('NY', '13', '100.00'),
 ('TX', '20', '450.00'),
 ('CA', '21', '200.00'),
 ('CA', '31', '500.00'),
 ('NY', '70', '750.00'),
 ('TX', '45', '200.00')]

In [65]:
data_without_header.collect()

[('NY', '13', '100.00'),
 ('TX', '20', '450.00'),
 ('CA', '21', '200.00'),
 ('CA', '31', '500.00'),
 ('NY', '70', '750.00'),
 ('TX', '45', '200.00')]

In [ ]:
# Calculate Standard Deviation of age

In [70]:
import numpy as np
ages = np.array(data_without_header.map(lambda x: float(x[1])).collect())

# Calculate standard deviation using NumPy
std_dev = np.std(ages)

print("Standard Deviation of Age:", std_dev)

Standard Deviation of Age: 19.275776393067947

In [ ]:
# Calculate the mean age

In [69]:
ages = np.array(data_without_header.map(lambda x: float(x[1])).collect())

# Calculate mean using NumPy
mean_age = np.mean(ages)

print("Mean Age:", mean_age)

Mean Age: 33.333333333333336

In [ ]:
# Calculate the amount of the data

In [75]:
import numpy as np
amount = np.array(data_without_header.map(lambda x: float(x[2])).collect())

# Calculate standard deviation using NumPy
std_dev = np.sum(amount)

print("Sum of Amounts", std_dev)

Sum of Amounts 2200.0